<div class="container">
  <h1 class ="text-center">Ejemplo de Componentes</h1>
  <hr>
  <h1 class="violeta">
    Hola {{destino}}
  </h1>
  <app-copyright></app-copyright>
  <br>
  <h1 class ="text-center">Ejemplo de Métodos</h1>
  <hr>
  <app-viewmodelo></app-viewmodelo>
  <app-ejmetodo></app-ejmetodo>
  <br>
  <h1 class ="text-center">Ejemplo de Property Binding</h1>
  <hr>
  <app-ejpropertybinding></app-ejpropertybinding>
  <br>
  <h1 class ="text-center">Ejemplo de Event Binding</h1>
  <hr>
  <app-ejeventbinding></app-ejeventbinding>
  <br>
  <h1 class ="text-center">Ejemplo de Two Way Binding</h1>
  <hr>
  <app-ej2waybinding></app-ej2waybinding>
  <br>
  <h1 class ="text-center">Ejemplos de Directiva NGIF</h1>
  <hr>
  <app-ejdirectivangif></app-ejdirectivangif>
  <br>
  <h1 class ="text-center">Ejemplo de Directiva NGSTYLE</h1>
  <hr>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
  <br>
  <h1 class ="text-center">Ejemplo de Directiva NGCLASS</h1>
  <hr>
  <app-ejdirectivangclass></app-ejdirectivangclass>
  <br>
  <h1 class ="text-center">Ejemplo de Directiva NGFOR</h1>
  <hr>
  <app-ejdirectivangfor></app-ejdirectivangfor>
  <br>
  <h1 class ="text-center">Ejemplo de Directiva NGFOR con objetos</h1>
  <hr>
  <app-ejarrayobjetos></app-ejarrayobjetos>
  <br>
  <h1 class ="text-center">Ejemplo de Directiva NGSWITCH</h1>
  <hr>
  <app-ejdirectivangswitch></app-ejdirectivangswitch>
  <br>
  <h1 class ="text-center">Ejemplo de Directiva Propia con HostBinding y HostLisetner</h1>
  <hr>
  <app-ejmidirectiva></app-ejmidirectiva>
  <br>
  <h1 class ="text-center">Ejemplo de @INPUT - @OUTPUT</h1>
  <hr>
  <app-padre></app-padre>
  <br>
  <h1 class ="text-center">Ejemplos de Pipes</h1>
  <hr>
  <app-fechaactual></app-fechaactual>
  <br>
</div>


